<header [@appear]="headerVisible ? 'visible' : 'hidden'">
	<span *ngIf="logo !== null" class="logo"><img src="{{logo}}" alt="" /></span>
	<h1>{{title}}</h1>
	<p>
		<!-- Display welcome content-->
		<ng-content></ng-content>
	</p>
</header>
<footer *ngIf="actionLink !== null" [@appear]="buttonVisible ? 'visible' : 'hidden'">
	<a [href]="actionLink" class="button scrolly">{{actionText || "Continuer"}}</a>
</footer>
