:host {
	text-align: center;
	display: block;
	padding: 14em 0 14em 0;
	overflow-x: hidden;

	/* Default background to overload in application stylesheet */
	background-image: url("../../../assets/images/overlay.png"), url("../../../assets/images/welcome.jpg");
    background-size: auto, cover;
    background-position: top left, center center;
    background-repeat: repeat, no-repeat;
}

header {
	h1 {
		font-size: 2.25em;
		line-height: 1.25em;
		margin-bottom: 0;
	}

	p {
		margin-top: 1.25em;
		font-weight: 100;
		padding: 0;
		font-size: 1.25em;
		line-height: 1.5em;
		text-align: center;
	}
}

footer {
	padding-top: 1.5em;
}

/** Responsive **/

@media screen and (max-width: 1280px) {
	:host {
		padding: 12em 0 12em 0;
	}
}

@media screen and (max-width: 1000px) {
	:host {
		margin: 0 !important;
		padding: 8em 2em 8em 2em;
	}

	header {
		p {
			margin-top: 1em;
		}
	}

	footer {
		padding-top: 1.25em;
	}
}

@media screen and (max-width: 736px) {
	:host {
		padding: 6em 20px 6em 20px;
	}

	header {
		padding: 0 1em 0 1em;
	}
}