:host {
    display: block;
    text-align: center;
    padding: 4em 0 8em 0;
    box-shadow: inset 0 1px 0 0 #e6e6e6;
}

.copyright {
    margin-top: 3em;
    font-size: 0.8em;
    color: #aaa;
}

.copyright a {
    color: inherit;
}

ul.icons a {
    box-shadow: inset 0 0 0 1px #d6d6d6;
}


@media screen and (max-width: 1000px) {
    
    :host {
        margin: 0 !important;
        padding: 3em 0 3em 0;
    }

    .copyright {
        margin-top: 2em;
    }

}