<ul class="icons">
    <li *ngIf="twitter"><a [href]="twitter" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
    <li *ngIf="facebook"><a [href]="facebook" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
    <li *ngIf="instagram"><a [href]="instagram" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
    <li *ngIf="dribble"><a [href]="dribble" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
    <li *ngIf="github"><a [href]="github" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
</ul>
<div class="copyright">
    <ul class="menu">
        <li *ngIf="copyright">{{copyright}}</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
</div>
