header {
    text-align: center;
    padding: 5em 0 5em 0;
    margin: 0;
}

header h2 {
    font-size: 2.25em;
    font-weight: 100;
    margin-bottom: 0;
}

header p {
    margin: 2em 0 0 0;
    padding: 0;
    text-align: center;
}

@media screen and (max-width: 1280px) {
	header {
        padding: 4em 0 4em 0;
    }
}

@media screen and (max-width: 1000px) {
	header {
        padding: 3.5em 2em 3.5em 2em;
    }

    header h2 {
        font-size: 1.85em;
    }

    header br {
        display: none;
    }

    header p {
        margin: 1.5em 0 0 0;
    }
}

@media screen and (max-width: 736px) {
    header {
        padding: 3em 20px 3em 20px;
    }

    header h2 {
        font-size: 1.5em;
    }
	
}