/* Button */

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
    transition: all 0.25s ease-in-out;
    position: relative;
    display: inline-block;
    background: #3d3d3d;
    padding: 0.85em 3em 0.85em 3em;
    border-radius: 0.25em;
    cursor: pointer;
    border: 0;
    color: #fff;
    text-align: center;
    text-decoration: none;

    &:hover {
        background: #4f4f4f;
    }

    &.alt {
        color: inherit;
        box-shadow: inset 0 0 0 1px #e6e6e6;
        background: none;

        &:hover {
            background: rgba(0, 0, 0, 2.5%);
        }
    }
}

@media screen and (max-width: 736px) {
	.button {
		padding-left: 0;
		padding-right: 0;
		width: 100%;
		max-width: 24em;
	}
}