/* stylelint-disable selector-no-vendor-prefix */
.dark {
    color: #aaa;
    color: rgba(255, 255, 255, 65%);

    h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}

	strong, b {
		color: #fff;
		color: rgba(255, 255, 255, 85%);
	}

    a {
		color: #fff;
		border-bottom-color: rgba(255, 255, 255, 50%);
	}

	a:hover {
	    border-bottom-color: rgba(255, 255, 255, 0%);
	}

    hr {
		border-top-color: rgba(255, 255, 255, 50%);
	}

	blockquote {
		border-left-color: rgba(255, 255, 255, 50%);
	}

    /* Sections */
    
    section {
		&.main {
        	background: #433;
		}
    }

    /* Forms */

    form {
        input[type="text"], input[type="email"], input[type="password"],
	    select, .select, textarea {
            background: none;
            box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 50%);
            color: #fff;

            &:focus {
                background: rgba(255, 255, 255, 10%);
                box-shadow: inset 0 0 0 1px #fff;
            }
        }

	    .select::before {
		    background: url("../assets/images/dark-arrow.svg") center center no-repeat;
		    background-size: contain;
	    }

	    .formerize-placeholder {
		    color: #aaa !important;
		    color: rgba(255, 255, 255, 85%) !important;
	    }

	    ::-webkit-input-placeholder {
		    color: rgba(255, 255, 255, 85%) !important;
	    }

	    :-moz-placeholder {
		    color: rgba(255, 255, 255, 85%) !important;
	    }

	    ::-moz-placeholder {
		    color: rgba(255, 255, 255, 85%) !important;
	    }

	    :-ms-input-placeholder {
		    color: rgba(255, 255, 255, 85%) !important;
	    }
    }

    /* Tables */

    table.default {
        tbody {
			tr {
            	border-color: rgba(255, 255, 255, 50%);
				
				:nth-child(2n+2) {
					background: rgba(255, 255, 255, 10%);
				}
			}
        }
	}

    /* Buttons */

    input[type="button"], input[type="submit"], input[type="reset"], button, .button {
		background: rgba(255, 255, 255, 15%);
		box-shadow: inset 0 0 0 1px #fff;
		color: #fff;

        &:hover {
            background: rgba(255, 255, 255, 25%);
        }

        &.alt {
            background: none;
			box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 50%);

            &:hover {
                background: rgba(255, 255, 255, 15%);
				box-shadow: inset 0 0 0 1px #fff;
            }
        }
	}

    /* Feature icon */

    .feature-icon .icon {
		background: rgba(255, 255, 255, 15%);
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 50%);
		color: #fff;
	}

	.feature-icon {
		&::before, &::after {
			background: rgba(255, 255, 255, 50%);
		}
	}
}