form {
    .actions {
        margin-bottom: 0;
    }

    label {
        display: block;
    }

    input[type="text"], input[type="email"], input[type="password"], select {
        line-height: 1.25em;
    }

    textarea {
        min-height: 13em;
    }
    
    select {
        position: relative;
    }

    .select {
        position: relative;
        padding: 0;
        overflow-x: hidden;
        outline: 0;
    }

    input[type="text"], input[type="email"], input[type="password"],
    select, .select, textarea {
        transition: all 0.25s ease-in-out;
        appearance: none;
        display: block;
        box-shadow: inset 0 0 0 1px #e6e6e6;
        background: #f8f8f8;
        width: 100%;
        padding: 0.85em 1em 0.85em 1em;
        border-radius: 0.25em;
        border: 0;

        &:focus {
            outline: 0;
            box-shadow: inset 0 0 0 1px #afd9e0;
            background: #fcfcfc;
        }
    }

    select option:not(:checked) {
        color: #000;
    }
    
    .select select {
        width: calc(100% + 2em);
        background: none !important;
        box-shadow: none !important;
        border: 0 !important;
        cursor: pointer;

        &::-moz-focus-inner {
            border: 0;
            outline: 0;
        }

        &::-ms-expand {
            display: none;
        }
    }
        
    .select::before {
        content: '';
        position: absolute;
        top: 15%;
        right: 1em;
        width: 1.25em;
        height: 75%;
        background: url("../assets/images/arrow.svg") center center no-repeat;
        background-size: contain;
        z-index: 0;
    }
}






