/* Icon */

.icon {
    text-decoration: none;

    &::before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        text-transform: none !important;
        font-family: 'Font Awesome 5 Free', monospace;
        font-weight: 400;
    }

    > .label {
        display: none;
    }

    &.solid::before {
        font-weight: 900;
    }

    &.brands::before {
        font-family: 'Font Awesome 5 Brands', monospace;
    }    
}

/* List Icon */

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;

    li {
        display: inline-block;
        padding-left: 1em;
    }

    a {
        transition: background-color 0.25s ease-in-out;
        display: inline-block;
        width: 2.75em;
        height: 2.75em;
        line-height: 2.8em;
        text-align: center;
        border: 0;
        box-shadow: inset 0 0 0 1px #e6e6e6;
        border-radius: 100%;
        color: #aaa;

        &:hover {
            background: rgba(0, 0, 0, 25%);
        }
    }
}

/* Feature Icon */

.feature-icon {
    display: inline-block;
    position: relative;
    padding-bottom: 5em;
    margin-bottom: 2.75em;
    cursor: default;

    .icon {
        display: inline-block;
        width: 2em;
        height: 2em;
        font-size: 4.5em;
        border-radius: 100%;
        box-shadow: inset 0 0 0 1px #666;
        color: #666;
        line-height: 2em;
    }

    &::before {
        content: '';
        background: #666;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -0.325em;
        width: 0.65em;
        height: 0.65em;
        display: block;
        border-radius: 100%;
    }
    
    &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0.65em;
        width: 1px;
        height: 4.35em;
        background: #666;
        margin-left: -0.5px;
    }
}

@media screen and (max-width: 1280px) {
	.feature-icon {
		margin-bottom: 2em;
	}
}