/* Image */

.image {
    position: relative;
    display: inline-block;
    border: 0;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url("../assets/images/overlay.png");
    }

    img {
        display: block;
        width: 100%;
        border-radius: 0.5em;
    }

    &.featured {
        display: block;
        width: 100%;
        margin: 0 0 2em 0;
    }

    &.fit {
        display: block;
        width: 100%;
    }

    &.left {
        float: left;
        margin: 0 2em 2em 0;
    }

    &.centered {
        display: block;
        margin: 0 0 2em 0;

        img {
            margin: 0 auto;
            width: auto;
        }
    }
}