/* List */

ol {
	list-style: decimal;
	padding-left: 1.25em;

	li {
		padding-left: 0.25em;
	}
}

ul {
	list-style: disc;
	padding-left: 1em;

	li {
		padding-left: 0.5em;
	}

    &.menu {
        cursor: default;
        list-style: none;
        padding-left: 0;
    
        li {
            display: inline-block;
            line-height: 1em;
            border-left: solid 1px #e6e6e6;
            padding: 0 0 0 0.5em;
            margin: 0 0 0 0.5em;
    
            &:first-child {
                border-left: 0;
                padding-left: 0;
                margin-left: 0;
            }
        }
    }

    &.actions {
		display: flex;
		cursor: default;
		list-style: none;
		margin-left: -1em;
		padding-left: 0;

        /* stylelint-disable-next-line no-descending-specificity */
        li {
			padding: 0 0 0 1em;
			vertical-align: middle;
		}

        &.special {
			justify-content: center;
			width: 100%;
			margin-left: 0;

			/* stylelint-disable-next-line no-descending-specificity */
            li:first-child {
				padding-left: 0;
			}
		}

        &.stacked {
			flex-direction: column;
			margin-left: 0;

			/* stylelint-disable-next-line no-descending-specificity */
            li {
				padding: 1.25em 0 0 0;

				&:first-child {
					padding-top: 0;
				}
			}
		}

		&.fit {
			width: calc(100% + 1em);

			/* stylelint-disable-next-line no-descending-specificity */
			li {
				flex-grow: 1;
				flex-shrink: 1;
				width: 100%;

				> * {
					width: 100%;
				}
			}

			&.stacked {
				width: 100%;
			}
		}
    }
}

/* Actions */

@media screen and (max-width: 1000px) {
	ul.actions {
		justify-content: center;
		width: 100%;
		margin-left: 0;

		li:first-child {
			padding-left: 0;
		}
	}
}

@media screen and (max-width: 736px) {
	ul.actions:not(.fixed) {
		flex-direction: column;
		margin-left: 0;
		width: 100% !important;

		li {
			flex-grow: 1;
			flex-shrink: 1;
			padding: 1em 0 0 0;
			text-align: center;
			width: 100%;

			> * {
				width: 100%;
			}

			&:first-child {
				padding-top: 0;
			}

			input[type="submit"], input[type="reset"], input[type="button"], button, .button {
				width: 100%;
			}
		}
	}

	ul.actions:not(.fixed) 

	ul.actions:not(.fixed) li 

	ul.actions:not(.fixed) li

	ul.actions:not(.fixed) li input[type="submit"],
	ul.actions:not(.fixed) li input[type="reset"],
	ul.actions:not(.fixed) li input[type="button"],
	ul.actions:not(.fixed) li button,
	ul.actions:not(.fixed) li .button {
		width: 100%;
		
		&::before {
			margin-left: -0.5em;
		}
	}
}

@media screen and (max-width: 736px) {
	ul.icons li {
		padding-left: 0.35em;
	}

	ul.menu li {
		border: 0;
		padding: 0;
		display: block;
		margin: 1em 0 1em 0;
	}
}