/* stylelint-disable at-rule-no-vendor-prefix */

/*
	Tessellate by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
	scroll-behavior: smooth;
	box-sizing: border-box;
}


body {
	background: #F8F8F8;
	font-family: Roboto, sans-serif;
	font-weight: 300;
	font-size: 17pt;
	line-height: 1.75em;
	color: #888;
	-webkit-text-stroke: 0.1px;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;

	&::before, &::after {
		content: '';
		content: none;
	}
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	appearance: none;
	font-family: Roboto, sans-serif;
	font-weight: 300;
	font-size: 17pt;
	line-height: 1.75em;
	color: #888;
	-webkit-text-stroke: 0.1px;
}

*, *::before, *::after {
	box-sizing: inherit;
}

@-ms-viewport {
	width: device-width;
}

/* Basic */

a {
	transition: border-bottom-color 0.25s ease-in-out;
	color: inherit;
	text-decoration: none;
	border-bottom: dotted 1px rgba(0, 0, 0, 25%);

	&:hover {
		border-bottom-color: rgba(0, 0, 0, 0%);
	}
}

h1, h2, h3, h4, h5, h6 {
	color: #666;
	margin: 0 0 1em 0;
	font-weight: 100;
	line-height: 1.5em;
}

strong, b {
	font-weight: 400;
	color: inherit;
}

em, i {
	font-style: italic;
}

sub {
	position: relative;
	top: 0.5em;
	font-size: 0.8em;
}

sup {
	position: relative;
	top: -0.5em;
	font-size: 0.8em;
}

hr {
	border: 0;
	border-top: solid 1px #e6e6e6;
	margin: 2em 0 2em 0;
}

blockquote {
	border-left: solid 0.25em #e6e6e6;
	padding: 1em 0 1em 2em;
	font-style: italic;
}

p, ul, ol, dl, table {
	margin-bottom: 1em;
}

p {
	text-align: justify;
}

header {
	margin-bottom: 1em;

	h1, h2, h3, h4, h5, h6 {
		margin: 0;
	}

	p {
		display: block;
		margin: 0;
		padding: 0.25em 0 0.5em 0;
	}
}

footer {
	padding-top: 1.5em;
}

br.clear {
	clear: both;
}

.featured {
	text-align: center;

	p {
		text-align: center;
	}
}

/* Container */

.container {
	margin: 0 auto;
	max-width: 100%;
	width: 1360px;

	&.medium {
		width: 1020px;
	}
}

@media screen and (max-width: 1680px) {
	.container {
		width: 1200px;

		&.medium {
			width: 900px;
		}
	}
}

@media screen and (max-width: 1280px) {
	.container {
		width: 960px;

		&.medium {
			width: 720px;
		}
	}
}

@media screen and (max-width: 1000px) {
	.container {
		width: 100% !important;
	}
}


/* Wide */

@media screen and (max-width: 1680px) {
	body, input, textarea, select {
		font-size: 15pt;
		line-height: 1.75em;
	}
}

/* Normal */

@media screen and (max-width: 1280px) {
	body, input, textarea, select {
		font-size: 13pt;
		line-height: 1.65em;
	}
}

/* Narrow */

@media screen and (max-width: 1000px) {
	header, footer, h2, h3, h4, h5, h6, header > p {
		text-align: center;
	}
}

/* Mobile */

@media screen and (max-width: 736px) {
	body, input, textarea, select {
		font-size: 11pt;
	}
}