.row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
    margin-top: -50px;
    margin-left: -50px;

    > * {
        padding: 50px 0 0 50px;
        box-sizing: border-box;
    }

    &.aln-left {
        justify-content: flex-start;
    }

    &.aln-center {
        justify-content: center;
    }

    &.aln-right {
        justify-content: flex-end;
    }

    &.aln-top {
        align-items: flex-start;
    }

    &.aln-middle {
        align-items: center;
    }

    &.aln-bottom {
        align-items: flex-end;
    }

    > .imp {
        order: -1;
    }

    > .col-1 {
        width: 8.3333%;
    }

    > .off-1 {
        margin-left: 8.3333%;
    }

    > .col-2 {
        width: 16.6667%;
    }

    > .off-2 {
        margin-left: 16.6667%;
    }

    > .col-3 {
        width: 25%;
    }

    > .off-3 {
        margin-left: 25%;
    }

    > .col-4 {
        width: 33.3333%;
    }

    > .off-4 {
        margin-left: 33.3333%;
    }

    > .col-5 {
        width: 41.6667%;
    }

    > .off-5 {
        margin-left: 41.6667%;
    }

    > .col-6 {
        width: 50%;
    }

    > .off-6 {
        margin-left: 50%;
    }

    > .col-7 {
        width: 58.3333%;
    }

    > .off-7 {
        margin-left: 58.3333%;
    }

    > .col-8 {
        width: 66.6667%;
    }

    > .off-8 {
        margin-left: 66.6667%;
    }

    > .col-9 {
        width: 75%;
    }

    > .off-9 {
        margin-left: 75%;
    }

    > .col-10 {
        width: 83.3333%;
    }

    > .off-10 {
        margin-left: 83.3333%;
    }

    > .col-11 {
        width: 91.6667%;
    }

    > .off-11 {
        margin-left: 91.6667%;
    }

    > .col-12 {
        width: 100%;
    }

    > .off-12 {
        margin-left: 100%;
    }

    &.gtr-0 {
        margin-top: 0;
        margin-left: 0;

        > * {
            padding: 0 0 0 0;
        }
    }

    &.gtr-25 {
        margin-top: -12.5px;
        margin-left: -12.5px;

        > * {
            padding: 12.5px 0 0 12.5px;
        }
    }

    &.gtr-50 {
        margin-top: -25px;
        margin-left: -25px;

        > * {
            padding: 25px 0 0 25px;
        }
    }

    &.gtr-150 {
        margin-top: -75px;
        margin-left: -75px;

        > * {
            padding: 75px 0 0 75px;
        }
    }
    
    &.gtr-200 {
        margin-top: -100px;
        margin-left: -100px;

        > * {
            padding: 100px 0 0 100px;
        }
    }

    &.gtr-uniform {
        margin-top: -50px;

        > * {
            padding-top: 50px;

            > :last-child {
                margin-bottom: 0;
            }
        }

        &.gtr-0 {
            margin-top: 0;

            > * {
                padding-top: 0;
            }
        }

        &.gtr-25 {
            margin-top: -12.5px;

            > * {
                padding-top: 12.5px;
            }
        }

        &.gtr-50 {
            margin-top: -25px;

            > * {
                padding-top: 25px;
            }
        }

        &.gtr-150 {
            margin-top: -75px;

            > * {
                padding-top: 75px;
            }
        }

        &.gtr-200 {
            margin-top: -100px;

            > * {
                padding-top: 100px;
            }
        }
    }

    @media screen and (max-width: 1680px) {
        margin-top: -40px;
        margin-left: -40px;

        > * {
            padding: 40px 0 0 40px;
        }

        > .imp-wide {
            order: -1;
        }

        > .col-1-wide {
            width: 8.3333%;
        }

        > .off-1-wide {
            margin-left: 8.3333%;
        }

        > .col-2-wide {
            width: 16.6667%;
        }

        > .off-2-wide {
            margin-left: 16.6667%;
        }

        > .col-3-wide {
            width: 25%;
        }

        > .off-3-wide {
            margin-left: 25%;
        }

        > .col-4-wide {
            width: 33.3333%;
        }

        > .off-4-wide {
            margin-left: 33.3333%;
        }

        > .col-5-wide {
            width: 41.6667%;
        }

        > .off-5-wide {
            margin-left: 41.6667%;
        }

        > .col-6-wide {
            width: 50%;
        }

        > .off-6-wide {
            margin-left: 50%;
        }

        > .col-7-wide {
            width: 58.3333%;
        }

        > .off-7-wide {
            margin-left: 58.3333%;
        }

        > .col-8-wide {
            width: 66.6667%;
        }

        > .off-8-wide {
            margin-left: 66.6667%;
        }

        > .col-9-wide {
            width: 75%;
        }

        > .off-9-wide {
            margin-left: 75%;
        }

        > .col-10-wide {
            width: 83.3333%;
        }

        > .off-10-wide {
            margin-left: 83.3333%;
        }

        > .col-11-wide {
            width: 91.6667%;
        }

        > .off-11-wide {
            margin-left: 91.6667%;
        }

        > .col-12-wide {
            width: 100%;
        }

        > .off-12-wide {
            margin-left: 100%;
        }
    
        &.gtr-25 {
            margin-top: -10px;
            margin-left: -10px;
    
            > * {
                padding: 10px 0 0 10px;
            }
        }
    
        &.gtr-50 {
            margin-top: -20px;
            margin-left: -20px;
    
            > * {
                padding: 20px 0 0 20px;
            }
        }
    
        &.gtr-150 {
            margin-top: -60px;
            margin-left: -60px;
    
            > * {
                padding: 60px 0 0 60px;
            }
        }
    
        &.gtr-200 {
            margin-top: -80px;
            margin-left: -80px;
    
            > * {
                padding: 80px 0 0 80px;
            }
        }

        &.gtr-uniform {
            margin-top: -40px;
    
            > * {
                padding-top: 40px;
            }

            &.gtr-25 {
                margin-top: -10px;
    
                > * {
                    padding-top: 10px;
                }
            }

            &.gtr-50 {
                margin-top: -20px;
    
                > * {
                    padding-top: 20px;
                }
            }

            &.gtr-150 {
                margin-top: -60px;
    
                > * {
                    padding-top: 60px;
                }
            }

            &.gtr-200 {
                margin-top: -80px;
    
                > * {
                    padding-top: 80px;
                }
            }
        }
    }

    @media screen and (max-width: 1280px) {
        margin-top: -30px;
        margin-left: -30px;

        > * {
            padding: 30px 0 0 30px;
        }

        > .imp-normal {
            order: -1;
        }

        > .col-1-normal {
            width: 8.3333%;
        }

        > .off-1-normal {
            margin-left: 8.3333%;
        }

        > .col-2-normal {
            width: 16.6667%;
        }

        > .off-2-normal {
            margin-left: 16.6667%;
        }

        > .col-3-normal {
            width: 25%;
        }

        > .off-3-normal {
            margin-left: 25%;
        }

        > .col-4-normal {
            width: 33.3333%;
        }

        > .off-4-normal {
            margin-left: 33.3333%;
        }

        > .col-5-normal {
            width: 41.6667%;
        }

        > .off-5-normal {
            margin-left: 41.6667%;
        }

        > .col-6-normal {
            width: 50%;
        }

        > .off-6-normal {
            margin-left: 50%;
        }

        > .col-7-normal {
            width: 58.3333%;
        }

        > .off-7-normal {
            margin-left: 58.3333%;
        }

        > .col-8-normal {
            width: 66.6667%;
        }

        > .off-8-normal {
            margin-left: 66.6667%;
        }

        > .col-9-normal {
            width: 75%;
        }

        > .off-9-normal {
            margin-left: 75%;
        }

        > .col-10-normal {
            width: 83.3333%;
        }

        > .off-10-normal {
            margin-left: 83.3333%;
        }

        > .col-11-normal {
            width: 91.6667%;
        }

        > .off-11-normal {
            margin-left: 91.6667%;
        }

        > .col-12-normal {
            width: 100%;
        }

        > .off-12-normal {
            margin-left: 100%;
        }
    
        &.gtr-25 {
            margin-top: -7.5px;
            margin-left: -7.5px;
    
            > * {
                padding: 7.5px 0 0 7.5px;
            }
        }
    
        &.gtr-50 {
            margin-top: -15px;
            margin-left: -15px;
    
            > * {
                padding: 15px 0 0 15px;
            }            
        }
    
        &.gtr-150 {
            margin-top: -45px;
            margin-left: -45px;
    
            > * {
                padding: 45px 0 0 45px;
            }    
        }
    
        &.gtr-200 {
            margin-top: -60px;
            margin-left: -60px;
    
            > * {
                padding: 60px 0 0 60px;
            }
        }

        &.gtr-uniform {
            margin-top: -30px;
    
            > * {
                padding-top: 30px;
            }

            &.gtr-25 {
                margin-top: -7.5px;
    
                > * {
                    padding-top: 7.5px;
                }
            }

            &.gtr-50 {
                margin-top: -15px;
    
                > * {
                    padding-top: 15px;
                }
            }

            &.gtr-150 {
                margin-top: -45px;
    
                > * {
                    padding-top: 45px;
                }
            }

            &.gtr-200 {
                margin-top: -60px;
    
                > * {
                    padding-top: 60px;
                }
            }
        }
    }

    @media screen and (max-width: 1000px) {
        margin-top: -25px;
        margin-left: -25px;
        
        > * {
            padding: 25px 0 0 25px;
        }

        > .imp-narrow {
            order: -1;
        }

        > .col-1-narrow {
            width: 8.3333%;
        }

        > .off-1-narrow {
            margin-left: 8.3333%;
        }

        > .col-2-narrow {
            width: 16.6667%;
        }

        > .off-2-narrow {
            margin-left: 16.6667%;
        }

        > .col-3-narrow {
            width: 25%;
        }

        > .off-3-narrow {
            margin-left: 25%;
        }

        > .col-4-narrow {
            width: 33.3333%;
        }

        > .off-4-narrow {
            margin-left: 33.3333%;
        }

        > .col-5-narrow {
            width: 41.6667%;
        }

        > .off-5-narrow {
            margin-left: 41.6667%;
        }

        > .col-6-narrow {
            width: 50%;
        }

        > .off-6-narrow {
            margin-left: 50%;
        }

        > .col-7-narrow {
            width: 58.3333%;
        }

        > .off-7-narrow {
            margin-left: 58.3333%;
        }

        > .col-8-narrow {
            width: 66.6667%;
        }

        > .off-8-narrow {
            margin-left: 66.6667%;
        }

        > .col-9-narrow {
            width: 75%;
        }

        > .off-9-narrow {
            margin-left: 75%;
        }

        > .col-10-narrow {
            width: 83.3333%;
        }

        > .off-10-narrow {
            margin-left: 83.3333%;
        }

        > .col-11-narrow {
            width: 91.6667%;
        }

        > .off-11-narrow {
            margin-left: 91.6667%;
        }

        > .col-12-narrow {
            width: 100%;
        }

        > .off-12-narrow {
            margin-left: 100%;
        }
    
        &.gtr-25 {
            margin-top: -6.25px;
            margin-left: -6.25px;
    
            > * {
                padding: 6.25px 0 0 6.25px;
            }
        }
    
        &.gtr-50 {
            margin-top: -12.5px;
            margin-left: -12.5px;
    
            > * {
                padding: 12.5px 0 0 12.5px;
            }
        }
    
        &.gtr-150 {
            margin-top: -37.5px;
            margin-left: -37.5px;
    
            > * {
                padding: 37.5px 0 0 37.5px;
            }
        }
    
        &.gtr-200 {
            margin-top: -50px;
            margin-left: -50px;
    
            > * {
                padding: 50px 0 0 50px;
            }
        }

        &.gtr-uniform {
            margin-top: -25px;
    
            > * {
                padding-top: 25px;
            }

            &.gtr-25 {
                margin-top: -6.25px;
    
                > * {
                    padding-top: 6.25px;
                }
            }
                        
            &.gtr-50 {
                margin-top: -12.5px;
    
                > * {
                    padding-top: 12.5px;
                }
            }

            &.gtr-150 {
                margin-top: -37.5px;
    
                > * {
                    padding-top: 37.5px;
                }
            }

            &.gtr-200 {
                margin-top: -50px;
    
                > * {
                    padding-top: 50px;
                }
            }
        }
    }

    @media screen and (max-width: 736px) {
        margin-top: -20px;
        margin-left: -20px;

        > * {
            padding: 20px 0 0 20px;
        }

        > .imp-mobile {
            order: -1;
        }

        > .col-1-mobile {
            width: 8.3333%;
        }

        > .off-1-mobile {
            margin-left: 8.3333%;
        }

        > .col-2-mobile {
            width: 16.6667%;
        }

        > .off-2-mobile {
            margin-left: 16.6667%;
        }

        > .col-3-mobile {
            width: 25%;
        }

        > .off-3-mobile {
            margin-left: 25%;
        }

        > .col-4-mobile {
            width: 33.3333%;
        }

        > .off-4-mobile {
            margin-left: 33.3333%;
        }

        > .col-5-mobile {
            width: 41.6667%;
        }

        > .off-5-mobile {
            margin-left: 41.6667%;
        }

        > .col-6-mobile {
            width: 50%;
        }

        > .off-6-mobile {
            margin-left: 50%;
        }

        > .col-7-mobile {
            width: 58.3333%;
        }

        > .off-7-mobile {
            margin-left: 58.3333%;
        }

        > .col-8-mobile {
            width: 66.6667%;
        }

        > .off-8-mobile {
            margin-left: 66.6667%;
        }

        > .col-9-mobile {
            width: 75%;
        }

        > .off-9-mobile {
            margin-left: 75%;
        }

        > .col-10-mobile {
            width: 83.3333%;
        }

        > .off-10-mobile {
            margin-left: 83.3333%;
        }

        > .col-11-mobile {
            width: 91.6667%;
        }

        > .off-11-mobile {
            margin-left: 91.6667%;
        }

        > .col-12-mobile {
            width: 100%;
        }

        > .off-12-mobile {
            margin-left: 100%;
        }
    
        &.gtr-25 {
            margin-top: -5px;
            margin-left: -5px;
    
            > * {
                padding: 5px 0 0 5px;
            }
        }
    
        &.gtr-50 {
            margin-top: -10px;
            margin-left: -10px;
    
            > * {
                padding: 10px 0 0 10px;
            }
        }
    
        &.gtr-150 {
            margin-top: -30px;
            margin-left: -30px;
    
            > * {
                padding: 30px 0 0 30px;
            }
        }
    
        &.gtr-200 {
            margin-top: -40px;
            margin-left: -40px;
    
            > * {
                padding: 40px 0 0 40px;
            }
        }

        &.gtr-uniform {
            margin-top: -20px;
    
            > * {
                padding-top: 20px;
            }

            &.gtr-25 {
                margin-top: -5px;
    
                > * {
                    padding-top: 5px;
                }
            }
    
            &.gtr-50 {
                margin-top: -10px;
    
                > * {
                    padding-top: 10px;
                }
            }
            
            &.gtr-150 {
                margin-top: -30px;
    
                > * {
                    padding-top: 30px;
                }
            }
            
            &.gtr-200 {
                margin-top: -40px;
    
                > * {
                    padding-top: 40px;
                }
            }
        }
    }
}