/* Sections/Article */

section,
article {
	margin-bottom: 3em;
}

section > :last-child,
article > :last-child,
section:last-child,
article:last-child {
	margin-bottom: 0;
}

.row > section,
.row > article {
	margin-bottom: 0;
}

/* Main Sections */

.main {
	position: relative;
	margin: 0;

	> .content {
		padding: 6em 0 6em 0;

		h3 {
			font-size: 1.5em;
		}

		&.style1 {
			background: url("../assets/images/bgtr.svg") top right no-repeat, url("../assets/images/bgbl.svg") bottom left no-repeat, url("../assets/images/bgbl.svg") bottom left no-repeat, url("../assets/images/overlay.png"), linear-gradient(45deg, #b39c68, #a56365, #412e4c);
		}

		&.style2 {
			background: url("../assets/images/bgtr.svg") top right no-repeat, url("../assets/images/bgbl.svg") bottom left no-repeat, url("../assets/images/overlay.png"), linear-gradient(45deg, #384955, #655361, #85505f);
		}

		&.style3 {
			background: url("../assets/images/bgtr.svg") top right no-repeat, url("../assets/images/bgbl.svg") bottom left no-repeat, url("../assets/images/overlay.png"), linear-gradient(45deg, #5f796b, #3a4e59, #2f394e);
		}

		&.style4 {
			padding-top: 0;
			background: #fff;
		}
	}
}

@media screen and (max-width: 1280px) {
	.main > .content {
		padding: 4em 0 4em 0;
	}
}

@media screen and (max-width: 1000px) {
	section, article {
		margin: 0 0 2.5em 0 !important;
	}

    .row > section, .row > article {
		margin: 0 0 2.5em 0 !important;
	}

	.main {
		margin: 0 !important;
	}

	.main > .content {
		padding: 3.5em 20px 3.5em 20px;
	}

	.main > .content > .container > :last-child {
		margin-bottom: 0 !important;
	}
}

@media screen and (max-width: 736px) {
	section, article {
		margin: 0 0 1.5em 0 !important;
	}

	.row > section, .row > article {
		margin: 0 0 1.5em 0 !important;
	}

	.main > .content {
		padding: 3em 20px 3em 20px;
	}

	.main > .content h3 {
		font-size: 1.25em;
	}
}