/* Table */

table {
    width: 100%;

    &.default {
        width: 100%;
        border-collapse: collapse;

        tbody tr {
            border: solid 1px #e6e6e6;

            &:nth-child(2n+2) {
                background: #f8f8f8;
            }
        }

        td {
            padding: 0.5em 1em 0.5em 1em;
        }

        th {
            text-align: left;
            padding: 0.5em 1em 1em 1em;
        }

        tfoot td {
            padding-top: 1em;
        }
    }
}

@media screen and (max-width: 1000px) {
	.table-wrapper {
		width: 100%;
		overflow-x: scroll;
		padding-left: 1px;
		-webkit-overflow-scrolling: touch;
	}
}

